body {background-color: #697564;}
h1 {color:white;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        background-blend-mode: overlay;
        font-size:60px;
        cursor: not-allowed
        }

h2 {font-family:Arial, Helvetica, sans-serif;
    background-color:grey;
    color: white;
    text-align: center;
    }
h3  {font-family:'Courier New', Courier, monospace}


p {text-align: right;
         font-family: Arial, Helvetica, sans-serif;
            padding: 20px;}
                