body {background-color: #697564;}
h1 {color:white;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        background-blend-mode: overlay;
        font-size:60px;
        cursor: not-allowed;       
        }

h2 {font-family:Arial, Helvetica, sans-serif;
    background-color:grey;
    color: white;
    text-align: center;
    border-bottom-style:outset;
    border-bottom-color: darkgrey;
    border-right-style:outset;
    border-right-color:darkgrey;
    }


h3  {font-family:'Courier New', Courier, monospace;}
    
h4 {font-family:Arial, Helvetica, sans-serif;
    text-align: right;
    color: white;
    font-size:40px}

p {text-align: left;
         font-family: Arial, Helvetica, sans-serif;
         font-size:20px;
    }

.column {
        float: left;
        width: 18%;
        padding: 10px;
        height: 220px;
        font-size:smaller;
        position:fixed;
      }
  
.main {
        align:right;
        float:right;
        width: 80%;
        margin-bottom:100px;
      }
        a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
        padding-bottom:200px;
  }
  
  a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color:black;
    background-color: transparent;
    text-decoration:solid;
  }
  
  a:active {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  .subheading {
      color: white;
      font-size: 30px;
      text-align:center;
      font-family:Arial, Helvetica, sans-serif;
      margin-top: 40px;
      margin-right:20px;
      text-decoration-style: solid;
  }
    
      .figure {
        text-align:center;
      }
      
      .img {
        align-content: center;
      }

    